# Production version (full features)
VITE_APP_REVIEW_MODE=false
VITE_API_URL=https://app.performanteaiagency.com/api
VITE_FB_APP_ID=1441781603583445
VITE_FB_REDIRECT_URI=https://app.performanteaiagency.com/profile

